<div class="background">
    <h4 class="titulo">Produtos</h4>

    <div class="filtro-tipos">
        <label for="tipo">Filtrar por tipo:</label>
        <select id="tipo" (change)="onTipoSelecionado($event)">
            <option value="">Todos</option>
            <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
        </select>
    </div>

    <div class="lista-produtos">
        <app-produto-vitrine *ngFor="let item of listaProdutos" [nomeProduto]="item.name"
            [description]="item.description" [image]="item.image">
        </app-produto-vitrine>
    </div>
</div>